@model luis_beuth.Models.Data.Exam
@{
    ViewData["Title"] = "Examen editieren";
}

<h2>Examen editieren</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Id" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Id" class="form-control" readonly />
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="Semester" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="Teacher" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Teacher" class="form-control" />
                <span asp-validation-for="Teacher" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Course" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Course" class="form-control" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Period" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Grade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Speichern" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Zurück zur Klausurenliste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}